<!DOCTYPE html>
<html>
    <head>
        <title>SWAPI</title>
    </head>
<body>
    <h1>Star Wars API</h1>
        <form action="/search_results" method="POST">
    <fieldset>
        <legend>Please input an ID number:</legend>
        <p>
        <label>
            Which character from Star Wars would you like more info on? (# 1-88):
        <input type="number" name="people_list">
        </label>
        </p>
        <input type="submit" value="Search">
    </fieldset>
</form>
</body>
</html>